* {
  box-sizing: border-box;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
h1,
h2,
h3,
p {
  margin: 0;
}
img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
body {
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
  font-family: "Montserrat", sans-serif;
}

input {
  padding: 8px;
  font: inherit;
}

button {
  padding: 8px 12px;
  cursor: pointer;
}

.gallery-image {
  width: 400px;
  height: 200px;
}

#categories {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  background-color: #fff;
  position: relative;
  width: 440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 24px;
  padding: 24px;
}
.categories-item {
  padding: 24px;

  border-radius: 4px;
  width: 100%;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  border-radius: 8px;
  background-color: #f6f6fe;
}
.category-list-titles li {
  border: 1px solid #808080;
  padding: 8px 16px;
  width: 100%;
  border-radius: 8px;
}

.categories-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  margin-bottom: 16px;
}
.category-list-titles {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
/* _______________Task 2 ___________________ */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  margin: 0 auto;
  padding: 15px 0;
  max-width: 1158px;
}
.gallery li {
  width: calc((100% - 48px) / 3);
}
.gallery img {
  height: 300px;
}
/* _______________Task 3 ___________________ */
.main-title {
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  line-height: 1.33333;
  letter-spacing: 0.04em;
  color: #2e2f42;
}
#name-input {
  font-size: 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin: 0 auto;
  display: block;

  margin-bottom: 16px;
  padding-left: 16px;
  outline: transparent;
}
#name-input:focus {
  border-color: #2a2d75;
}
/* _______________Task 4 ___________________ */
.login-form {
  padding: 24px;
  border-radius: 8px;
  background-color: #f6f6fe;
}
.login-form label {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 8px;
}
.login-form input {
  margin-top: 8px;
  outline: transparent;
  border: 1px solid #808080;
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 16px;
}
.login-form button {
  margin-top: 16px;
  border-radius: 8px;
  width: 86px;
  height: 40px;
  background: #4e75ff;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
  cursor: pointer;
}
/* _______________Task 5 ___________________ */
.widget p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #2e2f42;
  margin-bottom: 16px;
}
.widget button {
  border-radius: 8px;
  background: #4e75ff;
  width: 148px;
  height: 40px;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  border: none;
}
/* _______________Task 6 ___________________ */
#controls {
  border-radius: 8px;
  padding: 32px;
  background-color: #f6f6fe;
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

#controls input {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 0 5px;
  width: 150px;
  height: 40px;
  outline: transparent;
}
.btn-create {
  border-radius: 8px;
  background: #4e75ff;
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
.btn-destroy {
  border-radius: 8px;
  background: #ff4e4e;
  width: 120px;
  height: 40px;
  border: none;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
}
#boxes {
  border-radius: 8px;
  padding: 32px;
  background: #f6f6fe;
  display: flex;
  gap: 44px;
  flex-wrap: wrap;
}
